.card-container {
  max-width: 280px;
  margin: 10px;

  .img-container {
    text-align: center;
  }
  .img-container img {
    height: 100px;
    width: auto;
  }
  .content {
    height: 150px;
  }
  .actions-card {
    width: 100%;
  }
  .actions-card button {
    margin-left: 150px;
  }
}
