<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>{{ weapon.name }}</mat-card-title>
    <mat-card-subtitle>Price: {{ weapon.price }}</mat-card-subtitle>
  </mat-card-header>
  <div class="img-container">
    <img mat-card-image [src]="weapon.image" alt="weapon.name" />
  </div>
  <mat-card-content class="content"
    ><p>{{ weapon.desc }}</p></mat-card-content
  >
  <mat-card-actions class="actions-card">
    <button
      mat-button
      (click)="addToCartClick.emit()"
      [color]="weapon.addedToCart ? 'primary' : 'default'"
    >
      <mat-icon>{{
        weapon.addedToCart ? "shopping_cart" : "add_shopping_cart"
      }}</mat-icon>
      {{ weapon.addedToCart ? "Added to cart!" : "Add to cart" }}
    </button>
  </mat-card-actions>
</mat-card>
